h1{

background-color: #8d0a0a;
border-radius: 10px;
width: 400px;
height: 100px;
}
.criss {
    background-color: #7442ad;
    border-radius: 20px;
    width: 400px;
    height: 110px;

}

 #somente-um {
    background-color: #65ddc9;
    border-radius: 15px;
    width: 300px;
    height: 120px;

 }